html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 700;
}

h2 {

}

input,
textarea {
  font-family: inherit;
}

.container {
  max-width:1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: block;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 13px 10px 15px;
  line-height: 17px;
  text-align: center;
  max-width: 200px;
  width: 100%;
  color: #fff;
  background: #ffc300;
  
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #323232;
  margin-bottom: 17px;
}

.section-pad {
  padding: 100px 0;
}

/*=================================================================*/
/*header=================================================================*/

.header {
  background: linear-gradient(57.79deg, rgba(53, 13, 111, 0.58) 27.19%, rgba(56, 32, 87, 0.29) 81.02%), url(../images/header-bg.jpg)no-repeat center top/cover;
  color: #fff;
  text-align: center;
}

.header-line {
  border: 1px solid rgba(255, 255, 255, 0.58);
  
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list li {
  transition: border .3s ease;
  padding:32px 23px 34px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  line-height: 140%;
}

.menu__list li:hover {
  border-bottom: 2px solid #fff;
}

.menu__list li.menu__item_active {
  border-bottom: 2px solid #fff;
}

.menu__list li a {
  font-size: 16px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.tel {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.header-bottom {
  padding: 71px 0 71px;
}

.offer {
  padding: 71px 0 168px;
}

.header-title {
  display: block;
  max-width: 665px;
  width: 100%;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  text-align: left;
  margin-bottom: 23px;
}

.header-bottom__text {
  font-size: 16px;
  line-height: 140%;
  display: block;
  max-width: 400px;
  width: 100%;
  margin-bottom: 21px;
  text-align: left;
}

.arrow-dawn {
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border .3s ease;
}

.arrow-dawn__img {
  width: 16px;
  height: 24px;
}

.arrow-dawn:hover {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
}

.btn_header {
  transition: background .3s ease;
}

.btn_header:hover {
  background: #d3a718;
}



/*=================================================================*/
/*categories=================================================================*/
.categories {
  background: #ffc300;
  padding: 50px 0 80px;
}

.categories-list {
  display: flex;
}

.categories-list__item {
  position: relative;
  flex: 1 1 25%;
  text-align: center;
}

.categories-list__item:hover .categories-list__link p{
  padding-top: 10px;
}

.categories-list__link {
  display: block;
  width: 100%;
  height: 100%;
}

.categories-list__link p {
  position: absolute;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: padding .3s ease;
}

.categories-list__img {
  display: block;
  width: 40px;
  height: auto;
  margin: 0 auto 15px;
  object-fit: cover;
}

/*=================================================================*/
/*business=================================================================*/

.text_only {
  max-width: 561px;
  font-size: 16px;
  margin-bottom: 78px;
}

.business-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.business-box {
  flex: 0 1 508px;
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}

.business-box-img {
  width: 210px;
  margin-right: 25px;
  border-radius: 0px 10px 10px 10px;
  object-fit: cover;
  border: 1px solid transparent;
  transition: all .3s ease;
}

.business-box__link:hover .business-box-img {
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.business-box__info {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 19px;
  line-height: 140%;
}

.business-box__title {
  margin-bottom: 15px;
}

.business-box__text {
  line-height: 140%;
  flex-grow: 1;
  margin-bottom: 20px;
}
  
.business-box__money {
  color: #FF4975;
}

.business_btn {
  transition: background .3s ease;
}

.business_btn:hover {
  background: #d3a718;
}

/*=================================================================*/
/*project=================================================================*/

.project {
  position: relative;
  padding: 100px 0 10px;
  background: #F7F6F8;
}

.project-text {
  margin-bottom: 0;
}

.project-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 78px 0 89px;
  border-bottom: 1px solid #B8B8B8;
}

.project-box {
  max-width: 345px;
  width: 100%;
  height: 265px;
  margin-bottom: 28px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}


.project-box__img {
  display: none;
}

.project-box__link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}   

.project-box:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-box:hover.project-box::after {
  background: rgba(0, 0, 0, 0.4); 
} 

.project-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: background .3s ease;
}

.project-box:hover::before {
  content: '';
  background: url(../images/pr/search.svg);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;  
}

.project-box:nth-child(3n) {
  margin-right: 0;
}

.project__item {
  margin: 50px 0 80px;
  display: flex;
  justify-content: space-between;
}

.project__list {
  width: 135px;
  text-align: center;
}

.project__list .project__list-namber {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  display: block;
}

.project__list span {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

.project-rulles {
/*  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: -16%;
  transform: translateX(-50%);*/

  max-width: 801px;
  /*height: 326px;*/
  width: 100%;
  background: #F4EAFF;
  border-radius: 15px;
  margin: 0 auto -175px;
  padding: 52px 88px 52px;
  text-align: center;
}

.project-rulles__title {
  margin-bottom: 21px;
}

.project-rulles__text {
 font-size: 16px;
 margin-bottom: 26px;
 height: 127px;
 overflow-y: auto;
}

.project-rulles__btn {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  transition: background .3s ease;
}

.project-rulles__btn:hover {
  background: #d3a718;
}

/*=================================================================*/
/*vidio=================================================================*/

.vidio {
  padding: 311px 0 103px;
  text-align: center;
}

.vidio-text {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.vidio-wrap {
  max-width: 830px;
  margin: 0 auto;
  margin-top: 78px;
  padding-bottom: 62px;
  border-bottom: 1px solid #E0E0E0;
}

.video-frame {  
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 10px;
  width: 100%;
}

/*=================================================================*/
/*footer=================================================================*/

.footer {
  background: #F7F6F8;
  padding: 100px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column:nth-child(3) {
  margin: auto 0;
}

.footer-title_one {
  margin-bottom: 41px;
}

.footer-title_second {
  margin-bottom: 82px;
}

.footer-list {
  margin-bottom: 44px;
}

.footer-list__item {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 158.47%;
}

.footer-list__link {
  display: flex;
}

.footer-list__img {
  width: 18px;
  height: 18px;
  margin-right: 17px;
}

.footer-list__item:last-child {
  margin-bottom: 0;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
}

.footer-wrap__links {
  font-size: 14px;
  line-height: 158.47%;
  color: #FF7629;
  margin-right: 22px;
}

.footer-wrap__links:last-child {
  margin-right: 0;
}

.form {
  margin:16px 0 23px ;
  display: flex;
  position: relative;
}

.form:hover .form__input {
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

.form__input {
  max-width: 385px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 30px;
  font-size: 13px;
  line-height: 21px;
  padding: 11px 10px 11px 33px;
  outline: none;
  transition: box-shadow .2s ease;
}

.btn_form {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  border: none;
  outline: none;
  right: 0;
  cursor: pointer;
  transition: background .3s ease;
}

.btn_form:hover {
  background: #d3a718;
}

/*  RESPONSIVE  */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
    .footer__inner {
    justify-content: end;
  }
   .footer-column {
    margin:0 100px 82px 0;
   }
  .footer-column:last-child {
    margin:0 0 82px 0;
  }
  .business-box {
    flex: 1 1 508px;
  }
}


/* Medium: 768px - 991px */

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .footer__inner {
    justify-content: end;
  }
/*  .footer-column:first-child {
    margin:0 100px 82px 0;
  }*/
  .categories {
    display: none;
  }
  .tel {
    display: none;
  }
  .project-box:nth-of-type(2n + 1) {
    margin-right: 30px;
  }
  .project-wrap {
    justify-content: center;
  }
  .vidio-wrap {
    width: 100%;
    height: 430px;
  }

  .video-frame {
    height: 100%
  }

}


/* Small: 576px - 767px */
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .header-title {
    font-size: 38px
  }
  h2 {
    font-size: 28px
  }
 .menu {
  display: none
 }

.tel {
    display: block;
    padding: 32px 23px 34px;
  }
.business-box {
  flex: 0 1 508px;
}

.project-wrap {
  flex-direction: column;
  align-items: center;
}

.project-box:nth-of-type(2n + 1) {
  margin-right: 0 ;
}

.project__item {
  flex-wrap: wrap;
  justify-content: center;
}

.project__list {
  margin-bottom: 24px
}

.vidio-wrap {
   height: 300px; 
}

}

/* Extra small: 320px - 575px */
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    width: auto;
  }
  .header-title {
    font-size: 30px;
  }
  .business-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d8d4d4;
  }
  .business-box:last-child {
    border-bottom: none;
  }
  .business-box-img {
    margin-right: 0;
  }
  .project__item {
    justify-content: space-between;
  }
  .project-rulles {
    padding: 25px 15px;
  }
  .footer-column {
    margin: 0 0 82px 0;
  }
  .business_btn {
    margin: 0 auto;
  }
}


