html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 700;
}

h2 {

}

input,
textarea {
  font-family: inherit;
}

.container {
  max-width:1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: block;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding: 13px 10px 15px;
  line-height: 17px;
  text-align: center;
  max-width: 200px;
  width: 100%;
  color: #fff;
  background: #ffc300;
  transition: background .3s ease;
}

.btn:hover {
  background: #f2bc0e;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #323232;
  margin-bottom: 17px;
}

.section-pad {
  padding: 100px 0;
}

/*=================================================================*/
/*header=================================================================*/

.header {
  background: linear-gradient(57.79deg, rgba(53, 13, 111, 0.58) 27.19%, rgba(56, 32, 87, 0.29) 81.02%), url(../images/header-bg.jpg)no-repeat center top/cover;
  color: #fff;
  text-align: center;
  height: 100vh;
}

.header-line {
  border: 1px solid rgba(255, 255, 255, 0.58);
  
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list li {
  transition: border .3s ease;
  padding:31px 23px 31px 23px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  line-height: 140%;
}

.menu__list li:hover {
  border-bottom: 2px solid #fff;
}

.menu__list li.menu__item_active {
  border-bottom: 2px solid #fff;
}

.menu__list li a {
  font-size: 16px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.tel {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.header-bottom {
  padding: 71px 0 71px;
}

.offer {
  padding: 71px 0 84px;
  margin-bottom: 64px;
}

.header-title {
  display: block;
  max-width: 665px;
  width: 100%;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  text-align: left;
  margin-bottom: 23px;
}

.header-bottom__text {
  font-size: 16px;
  line-height: 140%;
  display: block;
  max-width: 400px;
  width: 100%;
  margin-bottom: 21px;
  text-align: left;
}

.arrow-dawn {
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border .3s ease;
}

.arrow-dawn__img {
  width: 16px;
  height: 24px;
}

.arrow-dawn:hover {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
}

/*=================================================================*/
/*categories=================================================================*/
.categories {
  background: #ffc300;
  padding: 50px 0 80px;
}

.categories-list {
  display: flex;
}

.categories-list__item {
  position: relative;
  flex: 1 1 25%;
  text-align: center;
}

.categories-list__item:hover .categories-list__link p{
  padding-top: 10px;
}

.categories-list__link {
  display: block;
  width: 100%;
  height: 100%;
}

.categories-list__link p {
  position: absolute;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: padding .3s ease;
}

.categories-list__img {
  width: 40px;
  height: 40px;
}

/*=================================================================*/
/*business=================================================================*/

.text_only {
  display: block;
  max-width: 561px;
  width: 100%;
  margin-bottom: 78px;
}

.business-wrap {
  display: flex;
  flex-wrap: wrap;
}

.business-box {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}

.business-box-img {
  width: 210px;
  margin-right: 25px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 10px 10px 10px;
}

.business-box__info {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 19px;
  line-height: 140%;
}

.business-box__title {
  margin-bottom: 15px;
}

.business-box__text {
  line-height: 140%;
  flex-grow: 1;
  margin-bottom: 20px;
}
  
.business-box__money {
  color: #FF4975;
}

/*=================================================================*/
/*project=================================================================*/

.project {
  position: relative;
  padding: 100px 0 205px;
  background: #F7F6F8;
}

.project-text {
  margin-bottom: 0;
}

.project-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 78px 0 89px;
  border-bottom: 1px solid #B8B8B8;
}

.project-box {
  max-width: 345px;
  width: 100%;
  height: 265px;
  margin-bottom: 20px;
}

.project-box {
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

.project-box__img {
  display: none;
}

.project-box__link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}   

.project-box:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.project-box:hover.project-box::after {
  background: rgba(0, 0, 0, 0.4); 
} 

.project-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: background .3s ease;
}

.project-box:hover::before {
  content: '';
  background: url(../images/pr/search.svg);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;  
}

.project-box:nth-child(3n) {
  margin-right: 0;
}

.project__item {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.project__list {
  text-align: center;
}

.project__list .project__list-namber {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  display: block;
}

.project__list span {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

.project-rulles {
  position: absolute;
  bottom: 0;
  left: 50%;
  bottom: -16%;
  transform: translateX(-50%);
  max-width: 801px;
  height: 326px;
  width: 100%;
  background: #F4EAFF;
  border-radius: 15px;
  margin: 0 auto;
  padding: 52px 88px 52px;
  text-align: center;
}

.project-rulles__title {
  margin-bottom: 21px;
}

.project-rulles__text {
 font-size: 16px;
 margin-bottom: 26px;
 height: 127px;
 overflow-x: scroll;
}

.project-rulles__btn {
  margin: 0 auto;
}

/*=================================================================*/
/*vidio=================================================================*/

.vidio {
  padding: 210px 0 165px;
  text-align: center;
}

.vidio-text {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.video-frame {
  display: block;
  margin: 0 auto;
  width: 830px;
  height: 426px;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 10px;
  margin-top: 78px;
}

/*=================================================================*/
/*footer=================================================================*/

.footer {
  background: #F7F6F8;
  padding: 100px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer-column:nth-child(3) {
  padding-top: 50px;
}

.footer-title_one {
  margin-bottom: 41px;
}

.footer-title_second {
  margin-bottom: 82px;
}

.footer-list {
  margin-bottom: 44px;
}

.footer-list__item {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 158.47%;
}

.footer-list__link {
  display: flex;
}

.footer-list__img {
  width: 18px;
  height: 18px;
  margin-right: 17px;
}

.footer-list__item:last-child {
  margin-bottom: 0;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
}

.footer-wrap__links {
  font-size: 14px;
  line-height: 158.47%;
  color: #FF7629;
  margin-right: 22px;
}

.footer-wrap__links:last-child {
  margin-right: 0;
}

.form {
  margin:16px 0 23px ;
  display: flex;
  position: relative;
}

.form__input {
  max-width: 385px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-size: 13px;
  line-height: 21px;
  padding: 11px 10px 11px 33px;
  outline: none;
}

.btn_form {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  border: none;
  outline: none;
  right: 0;
  cursor: pointer;
}


